
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #4DB6AC;
}

.app-root{
  height: 100%;
  width: 100%;
  position:absolute;
  overflow: hidden;
}

.red{
  background-color: #e57373;
}

.pink{
  background-color: #F06292;
}

.purple{
  background-color: #BA68C8;
}

.deep-purple{
  background-color: #9575CD;
}

.indigo{
  background-color: #7986CB;
}

.blue{
  background-color: #4DD0E1;
}

.teal{
  background-color: #4DB6AC;
}

.green{
  background-color: #81C784;
}

.light-green{
  background-color: #AED581;
}

.small-text{
  font-size: 22px;
}

.small-mid-text{
  font-size: 25px;
}

.medium-text{
  font-size: 28px;
}

.large-text{
  font-size: 34px;
}

.xlarge-text{
  font-size: 50px;
}
