

.slide {
  overflow: hidden;
  position:absolute;
  display: block;
  color:white; 
  text-align: center;
  width: 100%;
  height:100%;
  font-size: 28px;
  opacity:0;
}

.text-wrapper{
  position: relative;
  float: left; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text{
  padding:20px;
}

.small-text{
  font-size: 22px;
}

.small-mid-text{
  font-size: 25px;
}

.medium-text{
  font-size: 28px;
}

.large-text{
  font-size: 34px;
}

.xlarge-text{
  font-size: 50px;
}


#top-left, #top-right, #bottom-right, #bottom-left{
 position:absolute;
  left:0px;
  top:0px;
  z-index:1000;
  width:100px;
  height:100px;;
  background-color:#00796B;
  display:none;
  color:white;
}
