

.slide {
  overflow: hidden;
  position:absolute;
  display: block;
  color:white; 
  text-align: center;
  font-size: 28px;
  opacity:0;
  width:100%;
  height:100%
}

.text-wrapper{
  opacity:0;
  position: absolute;
  width:80%;
  height:40%
}


.small-text{
  font-size: 22px;
}

.small-mid-text{
  font-size: 25px;
}

.medium-text{
  font-size: 28px;
}

.large-text{
  font-size: 34px;
}

.xlarge-text{
  font-size: 50px;
}


#top-left, #top-right, #bottom-right, #bottom-left{
 position:absolute;
  left:0px;
  top:0px;
  z-index:1000;
  width:100px;
  height:100px;;
  background-color:black;
  display:none;
  color:white;
  opacity:0.8;
}
