<div class="home" (window:resize)="handleWindowResize();">

    <div *ngFor="let slideData of this.slideData" id="{{slideData.id}}" class="{{slideData.class}} {{slideData.color}} ">
        <div id="{{slideData.textWrapperId}}" class="text-wrapper">
            <div id="text1" class="text1 {{slideData.textSize}}"> {{slideData.text}}</div>
            <div id="text2" class="text2 {{slideData.textSize2}}">{{slideData.text2}} </div>
        </div>
    </div>

    <div id="labels">
        <div id="top-left">{{this.topLeft}}</div>
        <div id="top-right">{{this.topRight}}</div>
        <div id="bottom-left">{{this.bottomLeft}}</div>
        <div id="bottom-right">{{this.bottomRight}}</div>
    </div>
</div>